{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shrirang R Patil</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body background="{% static "app/iB.jpg" %}" style="background-repeat: no-repeat; background-position: 55% 00%;">
    <div class = "container" style=" padding: 140px 50px 50px 50px">
        <div class = "row">
            <table>
              <tr>
                <td style="width: 100%">
                  <h2>{{ type }}</h2>
                </td>
                <td style="width:100%">
                  <a href="/app/logout/"><button class="btn btn-primary btn-block">Exit</button></a>
                </td>
              </tr>
            </table>
            <div class = "col-sm-12">
                <div class = "white-box">
                    <div class="form-group">
                        {% if messages %}
                          {% for m in messages %}
                            <div class="alert alert-sussess">{{ m }}</div>
                          {% endfor %}
                        {% endif %}
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
