{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background="{% static "app/background.jpg" %}">

<div class="container"style="padding: 25px 0px 25px 0px">
  <h3 style="color:white">Shrirang R Patil</h3>
  <br/>
  <ul class="nav nav-pills nav-justified">
    <li class={{ active1 }}><a href="http://127.0.0.1:8000/app/home" style="color:white">Home</a></li>
    <li class={{ active2 }}><a href="http://127.0.0.1:8000/app/education" style="color:white">Education</a></li>
    <li class={{ active3 }}><a href="http://127.0.0.1:8000/app/skills" style="color:white">Skills</a></li>
    <li class={{ active4 }}><a href="http://127.0.0.1:8000/app/contact" style="color:white">Contact</a></li>
  </ul>

  <div class="tab-content" style="color:white">
      {% block content %}
      {% endblock %}
  </div>
</div>

</body>
</html>
