<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class= "container" style=" padding: 60px 50px 50px 60px">
        <center>
            <div class = "Absolute-Center is-Responsive">
            <div class = "modal-content animate" cellpadding = "10">
                <center>
                        <div class="form-group">
                            <h2>Admin Only</h2>
                            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
                                <form name = "form" action="" method='POST'>
                                    {% csrf_token %}
                                    {{ loginForm.as_p }}
                                    <div class="form-group">
                                        <input type="submit" value="Submit" />
                                        <input type="reset" value="Reset">
                                    </div>
                                </form>
                        </div>
                    </div>
                </center>
            </div>
        </div>
        </center>
    </div>
</body>
</html>
