{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<style>
td, th {
	vertical-align: top;
    text-align: justify;
    padding: 5px 10px 5px 5px;
}
body {
background-repeat: no-repeat;
background-size: 100% 100%;
}
</style>
<div class="tab-pane fade in active" >
  <div class = "container" style=" padding: 50px 50px 50px 60px">
		<div class = "row">
			<div class = "col-sm-10">
				<div class = "white-box">
					<div class="form-group">
						<table>
						{% for val in lisOfValues %}
							<tr>
									<td>
										<a href="{{ val.link }}"><h3>{{ val.title }}</h3></a>
									</td>
									<td>
										<img src="{{ val.picture }}" alt="Image" height="150" width="150">
									</td>
									<td>
										<h4>{{ val.desc }}</h4>
									</td>
							</tr>
						{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}